body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c996cc;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

a {
  color: #00B7FF;
}
.container {
  line-height: 22px;
}
h1 {
  color: #380e3a;
}
ul {
  list-style-type:circle;
  font-size: 18px;
  font-weight: 800;
}
li {
  font-family: cursive;
  padding: 12px 0;
}

.todolist {
  margin-top: 55px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  background-color: #916bbf;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");

}
.form-group input, .form-group input:active, .form-group input:focus{
  line-height: 3px;
  outline: none;
  border:none
  
}

.addItem {
  border-bottom: 1px solid black;
}

.form-ctl{
  background: transparent;
}
.form-ctl:focus, .form-ctl:active {
  background: transparent;
  box-shadow: none;
}
input::placeholder {
  color:rgb(61, 56, 56);
  font-size: 20px;
}
.btn-primary{
  background-color: #5c185f;
  border-color: #380e3a;
}
.btn-primary:hover{
  background-color: #380e3a;
  border-color: #380e3a;
}
.error {
  border-radius: 5px;
  color: #a61616;
  padding: 5px;
  top:250px;
}